* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.banner {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    padding: 20px 0px 6px 15px;
    display: inline-block;
    font-style: italic;
    -webkit-text-stroke: 1px #c14b34;
    color: #f8e12e;
    text-shadow: black 3px 3px 5px;
}

nav {
    float: right;
}

nav a {
    border: 2px solid #c14b34;
    text-decoration: none;
    display: inline-block;
    background-color: #5fa199;
    color: black;
    padding: 5px 20px;
    position: relative;
    top: 4vh;
    right: 1vw;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
    margin: 5px;
}

.active {
    background-color: #f8e12e;
    color: black;
    border-color: #c14b34;
}

a:hover {
    background-color: white;
    color: #5fa199;
    border-color: #c14b34;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    bottom: 1vh;
    padding: 12px;
}

aside {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 20%;
}

aside a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    color: #c14b34;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
}

section {
    position: relative;
    float: right;
    width: 80%;
    padding: 2vw;
}

/* Empty title for correct validation*/

.heading {
    display: none;
}

h3 {
    font-size: 150%;
    font-style: italic;
}

p {
    padding: 10px;
    margin: 2px;
    font-size: 1.2vw;
}

article {
    margin-bottom: 20px;
}

.items {
    margin-bottom: 20px;
}

div h3 {
    font-style: normal;
}

/* Calendar page */

table {
    width: 80%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f8e12e;
    padding: 12px;
}

#details-schedule {
    margin: 12px 0px 0px 12px;
}

#communication {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Rules page */

#subtitle-rules {
    font-size: 120%;
    margin-left: 15%;
}

dl {
    margin: 12px;
}

dt {
    font-weight: bold;
    margin: 8px;
}

dd {
    padding: 12px;
    text-indent: 25px;
}

#regulations-title {
    font-weight: bold;
    font-size: 100%;
    margin: 0.5vw;
}

ol {
    margin-left: 3vw;
}

ol li {
    margin-bottom: 2vh;
}

#ages {
    list-style-type: lower-latin;
    margin-left: 4vw;
}

#coach {
    list-style: circle;
    margin-left: 5vw;
    margin-top: -2vh;
}

/* Maps */

.map-box {
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */
}

.maps {
    margin: 40px;
}

.maps p {
    font-size: 120%;
    font-weight: bold;
    max-width: 75%;
}

iframe {
    border-radius: 1rem;
}

.nav_link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* Form */

form {
    border: 1px solid black;
    margin: 0 auto;
    width: 750px;
    margin-bottom: 5vh;
}

fieldset {
    border: 0;
    padding: 12px;

}

fieldset p {
    font-size: 70%;
}

label {
    font-size: 80%;
}

form a {
    float: right;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    color: #c14b34;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
}